@use "../../../variables.scss" as *;

h1 {
  text-align: center;
  color: $dark-primary;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.bombo {
  background-color: $primary;
  color: $font-color-dark;
  width: 220px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color $transition-duration, transform $transition-duration;
  cursor: pointer;

  &:hover {
    background-color: $accent;
    transform: scale(1.05);
  }

  h2 {
    font-size: 1.2rem;
    color: $dark-primary;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      font-size: 1rem;
      padding: 6px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      &:last-child {
        border: none;
      }
    }
  }
}

.matches {
  margin-top: 20px;
  text-align: center;

  .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .match {
      background-color: #f8f9fa; // Fondo claro para las tarjetas
      border: 1px solid #ced4da; // Borde sutil
      border-radius: 8px; // Bordes redondeados
      padding: 10px 20px;
      width: 300px; // Tamaño consistente
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between; // Espaciado entre los equipos
      align-items: center;

      span {
        font-size: 1rem;
        font-weight: bold;
      }

      .vs {
        font-size: 1.2rem;
        font-weight: 700;
        color: #28a745; // Verde para "vs"
      }
    }
  }
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &.cancel {
    background-color: #e57373; // Color rojo claro
    color: $font-color-light;

    &:hover {
            background-color: darken(#e57373, 10%);
        }
    }

    &.draw {
  background-color: #4caf50; // Verde
  color: $font-color-light;

  &:hover {
    background-color: lighten(#4caf50, 10%);
  }
}
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
